html {
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

body {
    background: linear-gradient(to bottom, #1db954, black);
    color: white;
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
    margin-top: 40px;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
}

#track-list {
    display: flex; 
    flex-direction: 'row'; 
    align-items: 'center'; 
    justify-content: space-between; 
}

.display-songs {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    margin: 20px; 
    margin-top: 35px; 
    max-width: 150px; 
    background-color: rgba(255, 255, 255, 0.05);
    padding: 12px; 
    border-radius: 10px; 
    max-height: 140px; 
    min-width: 100px; 

}

.display-songs:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.15);
  }

.album-cover {
    width: 64px; 
    height: 64px; 
    vertical-align: middle; 
    margin-bottom: 15px;  
}

.song-link {
    text-align: center; 
    text-decoration: none; 
    color: #e0e0ff; 
}

.song-link:hover {
    text-decoration: underline;
    color: #1db954; 
  }